{% load money %}

{% for meta, supergroups in grouped.items %}
  <h2>{{ meta.code }} {{ meta.label }}</h2>
  {% for supergroup, groups in supergroups.items %}
    <h3>{{ supergroup.code }} {{ supergroup.label }}</h3>
    {% for group, data in groups.items %}
      <div class="mb-3 border p-2">
        <h4 class="bg-light p-2">
          {{ group.code }} {{ group.label }}
          <span class="float-end text-muted">
            Charges: {{ data.total_charges|format_money }} CHF · Produits: {{ data.total_revenues|format_money }} CHF
          </span>
        </h4>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Libellé</th>
              <th scope="col" class="text-end">Charges</th>
              <th scope="col" class="text-end">Produits</th>
            </tr>
          </thead>
          <tbody>
            {% for account in data.accounts %}
              <tr>
                <td>{{ account.full_code }}</td>
                <td>{{ account.label }}</td>
                <td class="text-end">{{ account.charges|format_money }}</td>
                <td class="text-end">{{ account.revenues|format_money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endfor %}
{% endfor %}
