{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Budgets" %} | {{ block.super }}
{% endblock title %}
{% block extra_style %}
  <style>
h2 {
  background: color-mix(in srgb, var(--brand-color-alt) 20%, white);
  border-left: 5px solid var(--brand-color-alt);
  padding: 0.6rem 0.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 1.5rem 0 1rem;
  color: var(--brand-color-alt);
}
@media print {
  table {
    width: 100%;
    border-collapse: collapse;       /* <-- important : on sépare les cellules */
    border-spacing: 0 0;             /* par défaut */
    table-layout: auto;
  }

  th, td {
    padding: 2pt 3pt;
    vertical-align: top;
  }
  th {
    border: 0.2pt solid #000!important;

  }
  td {
    border: 0;
  }
  /* Première colonne = largeur auto selon contenu */
  table th:first-child,
  table td:first-child {
    white-space: nowrap;
    width: 1%;
  }

  /* Deuxième colonne (désignation) prend le reste */
  table th:nth-child(2),
  table td:nth-child(2) {
    width: auto;
  }

  /* Colonnes numériques compactes et alignées à droite */
  table th:nth-child(n+3),
  table td:nth-child(n+3) {
    text-align: right;
    width: 10.5%;
  }

  td small {
    display: none
  }

  colgroup .col-charges{
    border-left: 0.1pt solid #000;
  }
  colgroup .col-revenues{
    border-right: 0.1pt solid #000;
  }
  colgroup .col-num {
        border-left: 0.1pt solid #000;
  }
  tfoot .table-primary{
    border-bottom: 0.1pt solid #000;
  }
/*
 colgroup.budget-current {
  border-left: 4px solid white;
}
 colgroup.budget-prev {
  border-left: 4px solid white;
}
colgroup.accounts-prev {
  border-left: 4px solid white;
}*/

}


  </style>
{% endblock extra_style %}
{% block content %}
  <div class="no-print">
    <h1>{% trans "Budget explorer" %}</h1>
    <form method="post"
          hx-post="{% url 'accounting:budget-partial' %}"
          hx-target="#budget-list"
          hx-swap="outerHTML"
          hx-trigger="change delay:300ms from:input, change from:select">
      {% crispy form %}
    </form>
    <hr />
  </div>
  <div id="budget-list">
    {% include "accounting/partials/budget_list.html" with grouped=grouped year=year previous_year=previous_year actuals_year=actuals_year %}
  </div>
{% endblock content %}
