{% extends "admin/base.html" %}

{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
  <style>
    body,
    input,
    select,
    textarea {
      font-family: 'Roboto', sans-serif;
    }

    #budgetis-version {
      padding: 8px 20px;
      color: var(--body-quiet-color);
      font-size: 0.75rem;
    }
  </style>
{% endblock extrastyle %}
{% block footer %}
  {{ block.super }}
  <div id="budgetis-version">{% blocktrans with version=app_version %}Budgetis v{{ version }}{% endblocktrans %}</div>
{% endblock footer %}
